<div class="mx-auto" style="width: 500px;">
<h4>顧客一覧</h4>

<table width="500" cellpadding="10">
  <thead>
      <tr>
          <th>名前</th>
          <th>メールアドレス</th>
          <th>登録日時</th>
      </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <!--顧客名-->
        <% if customer_signed_in? && customer.id == current_customer.id %>
         <td><%= link_to customers_mypage_path do %>
           <div style="font-size:x-large">
              <%= customer.name %>
           </div>
             <% end %>
         </td>
        <% else %>
         <td><%= link_to customer_path(customer.id) do %>
           <div style="font-size:x-large">
              <%= customer.name %>
           </div>
             <% end %>
         </td>
        <% end %>
        <!--メールアドレス-->
        <td>
          <div style="font-size:x-large">
            <%= customer.email %>
          </div>
        </td>
    </div>
        <!--登録日時-->
        <td><%= customer.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @customers %>
</div>