<div class="mx-auto" style="width: 300px;">
<h4>顧客一覧</h4>

<table>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <!--顧客名-->
        <% if customer_signed_in? && customer.id == current_customer.id %>
         <td><%= link_to customers_mypage_path do %>
              <%= customer.name %>
             <% end %>
         </td>
        <% else %>
         <td><%= link_to customer_path(customer.id) do %>
              <%= customer.name %>
             <% end %>
         </td>
        <% end %>
        <!--メールアドレス-->
        <td><%= customer.email %></td>
        <!--登録日時-->
        <td><%= customer.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @items %>
</div>