<h4>マイページ</h4>

<table>
  <tbody>
    <tr>
      <td>名前</td>
      <td><%= @customer.name %></td>
    </tr>

    <tr>
      <td>メールアドレス</td>
      <td><%= @customer.email %></td>
    </tr>

  </tbody>
</table>

<table>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item_path(item.id) do %>
          <%= image_tag item.get_image(100,100) %>
          <% end %>
        </td>
        <!--投稿した名前-->
        <td><%= link_to item_path(item.id) do %>
        <%= item.name %>
        <% end %>
        </td>
        <!--いいねの数-->
        <td><%= item.favorites.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "会員情報編集", edit_customer_path(current_customer) %>
<%= link_to "退会画面に進む", customers_unsubscribe_path %>