<div class="mx-auto" style="width: 500px;">
<h3>マイページ</h3>

<table>
  <tbody>
    <tr>
      <td>名前</td>
      <td>
        <div style="font-size:x-large">
          <%= @customer.name %>
        </div>
      </td>
    </tr>

    <tr>
      <td>メールアドレス</td>
      <td>
        <div style="font-size:x-large">
          <%= @customer.email %>
        </div>
      </td>
    </tr>

  </tbody>
</table>

<table width="300" cellpadding="10">
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item_path(item.id) do %>
          <%= image_tag item.get_image(100,100) %>
          <% end %>
        </td>
        <!--投稿した名前-->
        <td><%= link_to item_path(item.id) do %>
              <div style="font-size:x-large">
                <%= item.name %>
              </div>
            <% end %>
        </td>
        <!--いいねの数-->
        <td>いいね数<%= item.favorites.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-lg-6">
    <%= link_to "会員情報編集", edit_customer_path(current_customer) %>
  </div>
  <div class="col-lg-6">
    <%= link_to "退会画面に進む", customers_unsubscribe_path %>
  </div>
</div>
</div>