<div class="mx-auto" style="width: 300px;">
<!--名前-->
<h4><%= @customer.name %></h4>
<!--投稿したもの-->
<%= @customer.item %>
<table>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <!--商品画像-->
        <td><%= link_to item_path(item.id) do %>
          <%= image_tag item.get_image(20,20) %>
          <% end %>
        </td>
        <!--商品名-->
        <td><%= link_to item_path(item.id) do %>
         <%= item.name %>
         <% end %>
        </td>
        <!--投稿者-->
        <td><%= item.customer.name %></td>
        <!--いいねの数-->
        <td><%= item.favorites.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!--メールアドレス-->
<%= @customer.email %>
</div>