<div class="mx-auto" style="width: 300px;">

<div class="row">
  <!--名前-->
  <h5>会員名</h5>
  <h4><%= @customer.name %></h4>
</div>

<div class="row">
  <!--メールアドレス-->
  <h5>メールアドレス</h5>
<%= @customer.email %>
</div>

<table>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <!--商品画像-->
        <td><%= link_to item_path(item.id) do %>
          <%= image_tag item.get_image(100,100) %>
          <% end %>
        </td>
        <!--商品名-->
        <td><%= link_to item_path(item.id) do %>
          <div style="font-size:x-large">
           <%= item.name %>
          </div>
           <% end %>
        </td>
        <!--投稿者-->
        <td><%= item.customer.name %></td>
        <!--いいねの数-->
        <td>いいね数<%= item.favorites.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>