<div class="mx-auto" style="width: 300px;">
<h4>結びめし</h4>

<table>
  <tbody>
   <% @all_ranks.each.with_index(1) do |item, i| %>
    <%# @all_ranks.each do |item| %>
      <tr>
        <!--商品画像-->
        <td><%= i %></td>
        <td><%= link_to item_path(item.id) do %>
          <%= image_tag item.get_image(150,150) %>
          <% end %>
        </td>
        <!--商品名-->
        <td width="15%"><%= link_to item_path(item.id) do %>
         <div style="font-size:x-large">
          <%= item.name %>
         </div>
         <% end %>
        </td>
        <!--投稿者-->
        <% if customer_signed_in? && (item.customer.id == current_customer.id) %>
         <td width="15%"><%= link_to customers_mypage_path do %>
              <%= item.customer.name %>
             <% end %>
         </td>
        <% else %>
         <td width="15%"><%= link_to customer_path(item.customer.id) do %>
              <%= item.customer.name %>
             <% end %>
         </td>
        <% end %>
        <!--いいねの数-->
        <td>❤️<%= item.favorites.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <%= link_to "全ての商品を見る", items_path %>
</div>