<div class="mx-auto" style="width: 300px;">
<h2>結びめし</h2>


<h4>ランキング</h4>
 <%# @all_ranks.each.with_index(1) do |note, i| %>
    <% @items.each do |item| %>
      <%= link_to item_path(item.id) do %>
      <%= image_tag item.get_image(100,100) %>
      <% end %>
      <br>
      <%= link_to item_path(item.id) do %>
      <%= item.name %>
      <% end %>
    <% end %>
 <%# end %>
  <%= link_to "全ての商品を見る", items_path %>
</div>