<div class="mx-auto" style="width: 300px;">
<h4>結びめし一覧</h4>
<h5>
<table>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <!--商品画像-->
        <td><%= link_to item_path(item.id) do %>
          <%= image_tag item.get_image(150,150) %>
          <% end %>
        </td>
        <!--商品名-->
        <td><%= link_to item_path(item.id) do %>
         <%= item.name %>
         <% end %>
        </td>
        <!--投稿者-->
        <% if customer_signed_in? && (item.customer.id == current_customer.id) %>
         <td><%= link_to customers_mypage_path do %>
              <%= item.customer.name %>
             <% end %>
         </td>
        <% else %>
         <td><%= link_to customer_path(item.customer.id) do %>
              <%= item.customer.name %>
             <% end %>
         </td>
        <% end %>
        <!--いいねの数-->
        <td>いいね数<%= item.favorites.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</h5>
</div>