<div class="mx-auto" style="width: 400px;">
<h2>検索結果 "<%= @keyword %>"</h2>
  <ul>
    <% @items.each do |item| %>
      <tr>
        <td>
          <%= link_to item_path(item.id) do %>
           <% if item.image.attached? %>
            <%= image_tag item.image.variant(gravity: :center, resize:"100x100") %>
           <% end %>
          <% end %>
        </td>
        <td>
          <%= item.name %>
        </td>
        <td>
          <%= item
        </td>
        
      </tr>
    <% end %>
  </ul>
</div>