<div class="mx-auto" style="width: 500px;">
<h4>結びめし詳細</h4>

<table>
<tbody>
  <tr>
    <!--画像-->
   <th><%= image_tag @item.get_image(200,200) %></th>

    <!--名前-->
   <th><%= @item.name %></th>

   <!--投稿者-->
    <% if @item.customer.id == current_customer.id %>
         <td><%= link_to customers_mypage_path do %>
              <%= @item.customer.name %>
             <% end %>
         </td>
    <% else %>
         <td><%= link_to customer_path(@item.customer.id) do %>
              <%= @item.customer.name %>
             <% end %>
         </td>
    <% end %>

    <!--商品詳細-->
   <td><%= @item.introduction %></td>

    <!--ジャンル-->
   <td><%= @item.genre.name %></td>

   <!--いいねの数-->
    <td>いいね数<%= @item.favorites.count %></td>
  </tr>
</tbody>
</table>
<% if  current_customer.present? %>
<% if @item.favorite?(current_customer) %>
    <!--一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ-->
    <%= link_to item_favorites_path(@item.id), method: :delete do %>
        <span style="color:red;">❤︎</span>
    <% end %>
<% else %>
    <!--一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ-->
    <%= link_to item_favorites_path(@item.id), method: :post do %>
        <span>♡︎</span>
    <% end %>
<% end %>

<% if @item.customer == current_customer %>
  <%= link_to '編集する', edit_item_path %>
  <%= link_to "削除する", item_path(@item.id), method: :delete %>
<% end %>

<h4>コメント</h4>

<%= form_with(model:[@item, @comment], method: :post) do |f| %>
  <%= f.text_area :body %>
  <%= f.hidden_field :item_id, value: @item.id %>
  <%= f.submit 'コメントする' %>
<% end %>
<% end %>
<h4>コメント一覧</h4>
<table>
<tbody>
  <% @comments.each do |comment| %>
   <tr>
     <!--コメントを書いた会員-->
    <td><%= comment.customer.name %></td>
    <!--コメントの内容が表示される-->
    <td><%= comment.body %></td>
    <!--コメント削除-->
    <td><% if comment.customer == current_customer %>
        <%= link_to "削除", item_comment_path(comment.id), method: :delete %>
        <% end %>
    </td>
   </tr>
  <% end %>
</tbody>
</table>
<%= link_to 'ホーム', root_path %>
</div>