<h4>結びめし詳細</h4>

<table>
<tbody>
  <tr>
    <!--画像-->
   <th><%= image_tag @item.get_image(100,100) %></th>

    <!--名前-->
   <th><%= @item.name %></th>

    <!--商品詳細-->
   <th><%= @item.introduction %></th>

    <!--ジャンル-->
   <th><%= @item.genres.name %></th>

   <!--いいねの数-->
    <th><%= @item.favorites.count %></th>
  </tr>
</tbody>
</table>
<% if  current_customer.present? %>
<% if @item.favorite?(current_customer) %>
    <!--一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ-->
    <%= link_to item_favorites_path(@item.id), method: :delete do %>
        <span style="color:red;">❤︎</span>
    <% end %>
<% else %>
    <!--一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ-->
    <%= link_to item_favorites_path(@item.id), method: :post do %>
        <span>♡︎</span>
    <% end %>
<% end %>
<!--コメント-->
<!--<h2>投稿する</h2>-->

<!--<#%= form_with model: @item do |f| %>-->
<!--  <#%= f.text_area :post_content, placeholder: '本文' %>-->
<!--    <#%= f.submit 'コメントする' %>-->


<!--<h2>投稿一覧</2>-->

<!--<#% @items.each do |item| %>-->
<!--  <#%= link_to item.body, item %>-->

<!--<#%= link_to 'ホーム', root_path %>-->

<h2>コメントをする</h2>

<%= form_with(model:[@item, @comment], method: :post) do |f| %>
  <%= f.text_area :body %>
  <%= f.hidden_field :item_id, value: @item.id %>
  <%= f.submit 'コメントする' %>
<% end %>
<% end %>
<h2>コメント一覧</h2>

<% @comments.each do |comment| %>
  <!--コメントの内容が表示される-->
  <%= comment.body %>
<% end %>

<%= link_to 'ホーム', root_path %>